<h3>It's like Layer Tennis but for code</h3>
<p>Play tennis with other github users on a repo.</p>
<p>Push access switches to the other player after you push.</p>
<p>Changes get automatically published on Github pages.</p>

<hr>

<h1>Active Games</h1>

<ul>
  <% @games.each do |game| %>
    <li>
      <h3><%= link_to game, game.pages_url %></h3>
      <p>Repo: <%= link_to game.repo_url, game.repo_url %></p>
    </li>
  <% end %>
</ul>
